table {
  width: 100%;
  font-weight: 500;
 tr {
  height: 20px;
}
  

}

.new--command {
  font-family: "Open Sans", "Lucida Consolas", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
