table {
  width: 100%;
  tr{
    height: 32px;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  height: 24px;
}

.reglement--btn{
  color: #000000;
  opacity: 54%;
  letter-spacing: 3.02362px ;
  font-size: 14px;
  font-weight: bold;
}
