<mat-card>
  <mat-card-content>
    <div class="grid grid-cols-2 gap-x-4">

      <div class="flex flex-col">
        <h2 class="font-bold text-4xl">4,568</h2>
        <p class="font-semibold mb-6">Ventes ce mois-ci</p>
        <div class="flex">
          <mat-icon class="text-green-500 h-12 w-12">arrow_drop_up</mat-icon> <span class="text-green-500 mr-2"> 11% de ventes en plus </span> <span>par rapport au mois dernier</span>
        </div>

        <div class="flex">
          <mat-icon class="text-red-500 h-12 w-12">arrow_drop_up</mat-icon> <span class="text-red-500 mr-2"> -2% de chiffre d'affaires par vente</span> <span>par rapport au mois dernier</span>
        </div>
      </div>

      <div>

      </div>

    </div>
  </mat-card-content>
</mat-card>
