<div
  class="flex bg-white  h-full w-full rounded-2xl shadow-lg px-4 justify-items-center  items-center text-xs">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorSchemePurchase"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="saleData"
    [curve]="linearCurve"
  >
  </ngx-charts-line-chart>
</div>
