<div class="flex flex-col sales--content__height px-4 ">
  <ul class="flex text-gray-500 text-xs  tracking-wider font-semibold">
    <li class="px-6 py-2 hover:text-">
      <a [routerLink]="['/ventes/ventes-passées/details-by-product']" routerLinkActive="active">Details des ventes</a>
    </li>
    <li class="px-6 py-2">
      <a [routerLink]="['/ventes/ventes-passées/sale-by-product']" routerLinkActive="active">Ventes par produits</a>
    </li>
    <li class="px-6 py-2">
      <a [routerLink]="['/ventes/ventes-passées/sale-by-category']" routerLinkActive="active"> Par category </a>
    </li>
    <li class="px-6 py-2">
      <a [routerLink]="['/ventes/ventes-passées/sale-by-form']" routerLinkActive="active"> Par forme </a>
    </li>
    <li class="px-6 py-2">Par remise</li>
    <li class="px-6 py-2">Par utilisateur</li>
  </ul>
    <router-outlet></router-outlet>
</div>
