.sales--content__height{
    min-height: 90vh;
}
.footer-char{
    font-size:10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
table{
    width:100%;
   tr{
        height:28px
   }
}


.active{
  display:inline-block;
  border-bottom:2px solid #673ab7;
  padding-bottom:2px;
}
