.sales--content__height{
    min-height: 90vh;
}
.footer-char{
    font-size:10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
table{
    width:100%;
   tr{
        height:28px
   }
}

.centered {
  position: absolute; 
  top: 50%;
  left: 50%;
}
