<div class="grid grid-cols-4 gap-x-4">
  <mat-card class="command">
    <mat-card-content class="flex flex-col">
      <p class="dash--title">Commandes reçues</p>
      <div class="flex justify-between py-2">
        <mat-icon>shopping_cart</mat-icon>
        <span class="dash--number">4589</span>
      </div>

      <div class="flex justify-between justify-items-center items-center">
        <p class="dash--title">Mois courant</p>
        <p class="dash--number">256</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="sale">
    <mat-card-content class="flex flex-col dash--title">
      <p>Vente total</p>
      <div class="flex justify-between py-2">
        <mat-icon>local_offer</mat-icon>
        <span class="dash--number">15698</span>
      </div>

      <div class="flex justify-between justify-items-center items-center">
        <p>Mois courant</p>
        <p class="dash--number">256</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="revenue">
    <mat-card-content class="flex flex-col dash--title">
      <p>Revenue</p>
      <div class="flex justify-between py-2">
        <mat-icon>repeat</mat-icon>
        <p class="relative dash--number">15698 <span class="currency absolute -top-1"> FG</span></p>
      </div>

      <div class="flex justify-between justify-items-center items-center">
        <p>Mois courant</p>
        <p class="relative"> 256 <span class="currency absolute -top-1">FG</span></p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="profit">
    <mat-card-content class="flex flex-col dash--title">
      <p>Total Profit</p>
      <div class="flex justify-between py-2">
        <mat-icon>monetization_on</mat-icon>
        <p class="relative dash--number">15698 <span class="currency absolute -top-1"> FG</span></p>
      </div>

      <div class="flex justify-between justify-items-center items-center">
        <p>Mois courant</p>
        <p class="relative dash--number"> 256 <span class="currency absolute -top-1">FG</span></p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
