<div class="flex flex-col px-4">
  <h2 class="text-gray-700 text-indigo-600 font-semibold uppercase text-xs tracking-widest">Consultations avoirs reçus</h2>

  <div *ngIf="dataSource.data.length > 0; else NoProduct" class="mat-elevation-z8 mt-6">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th class="table--header" mat-header-cell *matHeaderCellDef> No. </th>
        <td class="table--row" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <th class="table--header" mat-header-cell *matHeaderCellDef> Nom produit </th>
        <td class="table--row" mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="form">
        <th class="table--header" mat-header-cell *matHeaderCellDef> Forme </th>
        <td class="table--row" mat-cell *matCellDef="let element"> {{element.productForm}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="reason">
        <th class="table--header" mat-header-cell *matHeaderCellDef> Motif </th>
        <td class="table--row" mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>

      <ng-container matColumnDef="dateOfIssue">
        <th class="table--header" mat-header-cell *matHeaderCellDef> Date d'emmission </th>
        <td class="table--row" mat-cell *matCellDef="let element"> {{element.dateOfIssue}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th class="table--header" mat-header-cell *matHeaderCellDef> Description </th>
        <td class="table--row" mat-cell *matCellDef="let element"> {{element.state| productReturnStateParser}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #responseAvoirsProcessedPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <ng-template #NoProduct class="text-center">
    <h3 class="px-24 font-semibold text-red-500">Aucun Produit</h3>
  </ng-template>
</div>
