<div class="centered" *ngIf="isLoading ; else saleDetail">
  <mat-spinner [diameter]="70" [strokeWidth]="2" class="mx-auto my-auto"></mat-spinner>
</div>


<ng-template #saleDetail>
  <p class="text-indigo-600 font-semibold uppercase text-xs tracking-wider mt-6">Liste jounalière des ventes période
    du {{startDate}} au
    {{endDate}}</p>
  <mat-form-field class="mt-6">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilterOnSaleByProduct($event)" placeholder="Ex. paracetamol"
           #input>
  </mat-form-field>
  <div class="mat-elevation-z8 mt-6">

    <table mat-table [dataSource]="salesByProductsDataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="form">
        <th class="table--header" mat-header-cell *matHeaderCellDef mat-sort-header> Form</th>
        <td class="table--row" mat-cell *matCellDef="let row"> {{row.formDescription}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th class="table--header" mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
        <td class="table--row" mat-cell *matCellDef="let row"> {{ row.productName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="qty">
        <th class="table--header" mat-header-cell *matHeaderCellDef mat-sort-header> Quantité vendue
        </th>
        <td class="table--row" mat-cell *matCellDef="let row"> {{row.qty}} </td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th class="table--header" mat-header-cell *matHeaderCellDef mat-sort-header> Stock</th>
        <td class="table--row" mat-cell *matCellDef="let row"> {{row.stock}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="table--header" mat-header-cell *matHeaderCellDef mat-sort-header> Prix</th>
        <td class="table--row" mat-cell *matCellDef="let row"> {{row.price}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="salesByProductsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: salesByProductsColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Pas de resulta "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator #productPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="flex mt-10 tracking-wider">

    <button class="footer-char" mat-raised-button color="primary" (click)="openQueryPeriodDialog()">Saisir la
      periode
    </button>
  </div>
</ng-template>
