<div class="flex justify-between">
  <section>
    <button #unitBtn class="btn-vente-ten mr-2" mat-raised-button (click)="showUnitChart()">Unités</button> <button class="btn-vente-ten" (click)="showTotalSaleChart()" mat-raised-button>total vendue par produit</button>
  </section>
  <section class="text-xs">
    <mat-radio-group [(ngModel)]="labelPosition">
      <mat-radio-button class="mr-4" value="after">Année en cours</mat-radio-button>
      <mat-radio-button  value="before">Année precedente</mat-radio-button>
    </mat-radio-group>
  </section>
</div>
<div *ngIf="unitChart">
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [animations]="true"
  >
  </ngx-charts-advanced-pie-chart>
</div>

<div class="flex" *ngIf="!unitChart">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="multi"
    [timeline]="true"
    [animations]="true"
    [showGridLines]="false"
    [curve]="linearCurve"
  >
  </ngx-charts-line-chart>
</div>

